<template name="Header">
	<div id="header">
			<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/">Home</a></li>
					{{#if loggedIn}}
					<li><a href="/contacts">Contacts</a></li>
					<li><a href="/messages">Messages</a></li>
					{{/if}}
				</ul>
				{{#if needsLogin}}
				<form class="navbar-form navbar-right form-login">
					{{#each inputs}}
						{{> formGroup}}
					{{/each}}
					<input class="btn btn-submit btn-primary" type="submit" value="Login">
					<input class="btn btn-register" type="button" value="Register">
				</form>
				{{else}}
				<form class="navbar-form navbar-right"><button class="btn btn-logout">Logout</button></form>
				<ul class="nav navbar-nav navbar-right">
					<li><a>Welcome {{email}}</a></li>
				</ul>
				{{/if}}
		</div>
			</div>
	</div>
</template>
<template name="formGroup">
	<div class="form-group {{inputStyle}}">
		<input class="form-control" type="{{type}}" placeholder="{{placeholder}}" >
		<span class="form-control-static">{{inputHelpText}}</span>
	</div>
</template>