<template name="Contacts">
	<form class="form-inline search-form">
		<div class="form-group"><input class="form-control search-value" type="text" placeholder="Search"></div>
		{{#each allTags}}
			<span class="tag">{{this}}</span>
		{{/each}}
	</form>
	<ul class="nav nav-stacked nav-contacts">
		{{#each filteredContacts}}
			<li>
				<a>
					<span>{{name}}</span>
					<span>({{email}})</span>
					{{#each tags}}
						<span class="tag">{{this}}</span>
					{{/each}}
					<button class="btn btn-primary pull-right">Send</button>
				</a>
			</li>
		{{else}}
			<li><span>No Contacts Found</span></li>
		{{/each}}
	</ul>
	<form class="form-inline newuser-form">
		<div class="form-group"><input class="form-control name-value" type="text" placeholder="Name"></div>
		<div class="form-group"><input class="form-control email-value" type="email" placeholder="Email"></div>
		<div class="form-group"><input class="form-control tags-value" type="text" placeholder="Tags"></div>
		<input type="submit" value="Add User">
	</form>
</template>