<template name="Contacts">
	<form class="form-inline search-form">
		<div class="form-group"><input class="form-control search-value" type="text" placeholder="Search"></div>
		{{#each allTags}}
			<span class="tag">{{this}}</span>
		{{/each}}
	</form>
	<ul class="nav nav-stacked nav-contacts">
		{{#each filteredContacts}}
			<li>
				<span class="nav-item">
					<span>{{name}}</span>
					<span>({{email}})</span>
					{{#each tags}}
						<span class="tag">{{this}}</span>
					{{/each}}
					<button class="btn btn-primary btn-send pull-right">Send</button>
				</span>
			</li>
		{{else}}
			<li><span class="nav-item">No Contacts Found</span></li>
		{{/each}}
	</ul>
	<form class="form-inline newuser-form">
		<div class="form-group {{inputStyle name}}">
			<input class="form-control name-value" type="text" placeholder="Name" required>
			<!-- <span class="help-block">{{inputHelpText 'name'}}</span> -->
		</div>
		<div class="form-group {{inputStyle email}}">
			<input class="form-control email-value" type="email" placeholder="Email" required>
			<!-- <span class="help-block">{{inputHelpText 'email'}}</span> -->
		</div>
		<div class="form-group {{inputStyle tags}}">
			<input class="form-control tags-value" type="text" placeholder="Tags">
			<!-- <span class="help-block">{{inputHelpText 'tags'}}</span> -->
		</div>
		<input type="submit" class="btn" value="Add Contact">
	</form>
	<!-- TODO: Move modal to a template, component or shared whatever makes the most sense -->
	<div class="modal fade send-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<form class="send-form">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Modal title</h4>
		      </div>
		      <div class="modal-body form-horizontal">
		        	<div class="form-group">
		        		<label class="col-sm-2">To</label>
		        		<div class="col-sm-10">
			        		<span class="form-control to-value" disabled></span> <!-- email to -->
			        	</div>
		        	</div>
		        	<div class="form-group">
		        		<label class="col-sm-2">Subject</label>
		        		<div class="col-sm-10">
			        		<input class="form-control subject-value" type="text" required>
			        	</div>
		        	</div>
		        	<div class="form-group">
		        		<label class="col-sm-2">Body</label>
		        		<div class="col-sm-10">
			        		<textarea class="form-control body-value" required></textarea>
			        	</div>
		        	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <input type="submit" class="btn btn-primary" value="Send">
		      </div>
		  </form>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>